<!--<form action="/tweets" method="POST">-->
<!--  <h1>creat content tweet</h1>-->
<!--  <label>Content</label>-->
<!--  <input type="text" name="content" id="content_id"/>-->
  
<!--  <input type="submit" value="Sign Up"/>-->
<!--</form>-->



<h1>Create Tweet<h1>

<form action="/tweets" method="POST">
  <input type="text" name="content" />

  <input type="submit" name="submit" id="submit" value="Create Tweet">
</form>