<form action="/signup" method="POST">
  <h1>create user</h1>
  <label>Username</label>
  <input type="text" name="username" id="user_id"/>
  <label>Email</label>
  <input type="text" name="email" id ="email_id"/>
  <label>Password</label>
  <input type="text" name="password" id="password_id"/>
  <input type="submit" value="Sign Up"/>
</form>