<h1>Login</h1>

<form action="/login" method="POST">
  <label for="username">Username: </label>
  <input type="text" name="username"> <br />

  <label for="password">password: </label>
  <input type="password" name="password"> <br />

  <input type="submit" name="submit" id="submit" value="Login" />
</form>













<!--<form action="/login" method="POST">-->
<!--  <h1>Log In</h1>-->
<!--  <label>Username or email</label>-->
<!--  <input type="text" name="username" id="user_email_id"/>-->
<!--  <label>Password</label>-->
<!--  <input type="text" name="password" id="password_log_idd"/>-->
<!--  <input type="submit" value="Login"/>-->
<!--</form>-->