<form action="/login" method="POST">
  <h1>Log In</h1>
  <label>Username or email</label>
  <input type="text" name="username" id="user_email_id"/>
  <label>Password</label>
  <input type="text" name="password" id="password_log_idd"/>
  <input type="submit" value="Login"/>
</form>